*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 80%;
  background-color: #f0e1d1;
  margin: 0 auto;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  width:100%;
  height:0.10px;
  position:relative;
  background-color: brown;
} 
h2{
  font-size: 20px;
}
.nav-left img{
  width: 50px;
  height: 50px;
  margin-top: 8px;
  padding-right:8px;
}
.nav-left{
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  margin-left:2rem;
  position:absolute;
  top:0;
  letter-spacing:1.5px;
}
.call img {
  width:25px;
  height:15px;
  margin:5px;
  font-weight:400;
}
.call {
  position:absolute;
  top: 25px;
  right:255px;
  display:flex;
  justify-content:space-around;
  align-items:center; 
  text-align:center;
  height:20px;
}
.nav .nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 18px;
  right: 45px;
}
.bar1,
.bar2,
.bar3{
  background-color: black;
  height:4px;
  width:36px;
  margin:3px;
  border-radius:10px;
}
.nav .hamburger {
  display:none;
}

.nav-right img{
  width: 26px;
  height: 26px;
  margin-left: 1px;
}  
.icon .youtube {
  width:40px;
}
.icon .insta{
  width: 28px;
  margin: 0 5px;
}
.icon .tele {
  width:30px;
  margin: 0 5px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:lightyellow;
  font-family: "Merriweather", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.navbar li{
  list-style-type: none;
}
.navbar svg{
  padding-top: 0.95rem;
  padding-right: 10px;
  cursor: pointer;
}
.navbar a{
  text-decoration: none;
}
.card-place h2, h5 i{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr{
  width: 12%;
  margin-left: 30rem;
  margin-top: 6px;
}
.cards{
  display: flex;
  justify-content: space-between;
}
.card{
  width: 30%;
  display: grid;
  height: 400px;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid black;
  margin: 10px auto;
}
.card-img img{
  border: 2px solid red;
  border-radius: 5px;
  margin: 10px 60px;
  width: 180px;
  height: 140px;
}
.card-left{
  background-color: salmon;
  border-radius: 3px;
  margin-left: 6px;
  text-align: center;
  width: 140px;
  height: 20px;
}
.card-right{
  background-color: salmon;
  border-radius: 3px;
  text-align: center;
  width: 40px;
  margin-left: 16rem;
  margin-top: -27.9px;
  height: 20px;
}
.card li{
  list-style-type: none;
  margin: 3px 10px;
}
.next img{
  width: 30px;
  height: 30px;
  margin: 5px 6px;
}
.next h3{
  margin-left: 45px;
  margin-top: -42px;
}
#hr{
  width: 75%;
  margin: 6px auto;
  color: blue;
}
.rupee{
  margin-left: 5px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Merriweather", sans-serif;
  margin-top: 15px;
}
.btn{
  background-color: red;
  color: white;
  width: 68px;
  text-align: center;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  margin-left: 14rem;
  margin-top: -22px;
  border-radius: 5px;
  height: 22px;
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
.intro-cards {
  border-top: 1px solid brown;
}
.intro-cards p{
  display: flex;
  font-family: "Merriweather", sans-serif;
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.intro-card{
  display: flex;
  justify-content: space-between;
}
.card-intro{
  border: 2px solid brown;
  width: 30%;
  display: grid;
  height: 420px;
  flex-direction: column;
  border-radius: 12px;
  margin: 10px auto;
}
.new img{
  width: 200px; 
  height: 200px;
  margin: 10px 60px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 140px;
  border-radius: 6px;
  margin-top: 14px;
  margin-left: 95px;
  height: 40px;
}
.box img{
  width: 40px;
  height: 30px;
}
.box span{
  text-align: center;
  margin-left: 5px;
}
.overlay{
  background-color: pink;
  margin-top: -50px;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  cursor: pointer;
}
.overlay:hover{
  box-shadow: 0 0 5px 5px  rgba(0, 0, 0, 0.25);
}
.overlay h5{
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Merriweather", sans-serif;
}
.text{
  text-align: center;
  font-size: 14px;
}
.footer{
  background-color: pink;
  border-top: 1px solid violet;
  height: 100%;
  border-bottom: 1px solid brown;
}
.foot-intro{
  display: flex;
  justify-content: space-between;
}
.foot-card{
  display: grid;
  flex-direction: column;
}
.foot-middle a #course{
  text-decoration: underline;
}
.foot-end a #course{
  text-decoration: underline;
}
#width{
  display: none;
}
.foot-right{
  display: grid;
  flex-direction: row;
}
.foot-right img{
  width: 26px;
  height: 26px;
  margin-left: 5px;
}
.foot-right h3{
  margin: -26px 32px;
}
.foot-middle a h3{
  text-decoration: none; 
  margin-right: 50px;
  color: black;
}
.foot-end a h3{
  text-decoration: none; 
  margin-right: 40px;
  color: black;
}
#line{
  width: 80%;
  margin: 0 auto;
}
.footer-step{
  display: flex; 
  justify-content: space-evenly;
  margin: 0 auto;
}
.footer-step a h3{
  text-decoration: none; 
  color: black;
} 
#write{
  text-align: center;
  cursor: pointer;
}
#write:hover{
  text-shadow: 4px 4px 4px #000;
}
@media (max-width: 768px){
  .container{
    max-width: 90%;
    background-color: #f0e1d1;
    margin: 0 auto;
  }
  .hr{
    display: none;
  }
  .cards{
    display: grid;
    flex-direction: column;
  }
  .card{
    width:100%;
    display: grid;
    height: 400px;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid black;
    margin: 10px 5px;
  }
  .card-img img{
    border: 2px solid red;
    border-radius: 5px;
    width: 210px;
    height: 140px;
  }
  .card-left{
    background-color: salmon;
    border-radius: 3px;
    margin-left: 6px;
    text-align: center;
    width: 140px;
    height: 20px;
  }
  .card-right{
    background-color: salmon;
    border-radius: 3px;
    text-align: center;
    width: 40px;
    margin-left: 18rem;
    margin-top: -27.9px;
    height: 20px;
  }
#hr{
  width: 75%;
  margin: 7px auto;
  color: blue;
}
.rupee{
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Merriweather", sans-serif;
  margin-top: 15px;
}
.btn{
  background-color: red;
  color: white;
  width: 70px;
  text-align: center;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  margin-left: 16rem;
  margin-top: -22px;
  border-radius: 5px;
  height: 22px;
}
  .intro-card{
    display: grid;
    flex-direction: column;
  }
  .card-intro{
    border: 2px solid brown;
    width: 100%;
    display: grid;
    height: 420px;
    flex-direction: column;
    border-radius: 12px;
    margin: 10px auto;
  }
  .new img{
    width: 200px; 
    height: 200px;
    margin: 10px 70px;
  }
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 140px;
    border-radius: 6px;
    margin-top: 14px;
    height: 40px;
  }
  .foot-card{
    display: grid;
    flex-direction: row;
    margin: 5px auto;
  }
  .foot-intro{
    display: grid;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
  }
  .foot-middle a h3 {
    text-align: center; 
    margin: 0 auto;
  }
  .foot-end a h3 {
    text-align: center; 
    margin: 0 auto;
  }
  #width{
    width: 60%;
    margin: 0 auto;
    display: block;
  }  
  #write:hover{
    text-shadow: none;
  }
.footer-step a h3{
  text-decoration: none; 
    border-right: 1px solid violet;
  color: black;
} 
   .navbar {
    display:none;
  }
  .nav {
    height:2rem;
  }
  .nav .right {
    display:none;
  }
  .call {
    display:none;
  }
  .hamburger{
margin-left: 18rem;
  }
  .nav-right .icon{
   display: none; 
  }
  .nav .hamburger {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
}
